.Header{
    grid-area: header;
  background-color: green;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  text-decoration: none;
  color: #000;
}

.cart{
    max-height: 65px;
  max-width: 65px;
  cursor: pointer;
}

.counter{
    background-color: #de1111;
  border-radius: 50%;
  color: black;
  font-size: 17px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 95%;
}