.Layout{
    display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 'header header' 'sidebar content';
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}